body {
    display: flex;
    background: rgb(238, 238, 238);
    flex-direction: column;
}

h1 {
    font-size: 36px; /* Increase font size */
    font-weight: bold; /* Make font bold */
}

footer {
    color: rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}
